
:root {
    --dark: #191A23;
    --green: #B9FF66;
    --grey: #F3F3F3;
    --fonts-space-reg: spaceGroteskReg;
    --fonts-space-bold: spaceGroteskBold;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonts-space-reg);
}

.container {
    margin: 0 auto;
    max-width: 1250px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
    flex-direction: inherit;
    padding: 70px 0;
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 28px;
  }

  .navbar__logo {
    max-width: 220px;
    margin: 0 210px 0 0;
  }

  .navbar__item {
    cursor: pointer;
    text-wrap: nowrap;
    padding: 5px;
  }

  .navbar__item-button {
    text-wrap: nowrap;
    cursor: pointer;
    padding: 20px 35px;
    color: var(--dark);
    border: 1px solid var(--dark);
    background-color: var(--grey);
    border-radius: 14px;
    text-align: center;
  }

  .navbar__item:hover {
    background-color: var(--green);
    border-radius: 6px;
    
  }

  .navbar__item-button:hover {
    background-color: var(--dark);
    color: var(--grey);
    transition: background-color .5s ease;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
  }

  .header__left {
    display: flex;
    flex-direction: column;
    max-width: 535px;
    gap: 35px;
  }

  .header__left-title {
    color: var(--dark);
    font-size: 60px;
    line-height: 77px;
    font-weight: 500;
  }

  .header__left-subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .header__left-button {
    max-width: 265px;
  }

  .btn:hover {
    background-color: var(--green);
    color: var(--dark);
  }

  .btn {
    padding: 20px 35px;
    color: var(--grey);
    background-color: var(--dark);
    border-radius: 14px;
    border: 1px solid var(--dark);
    transition: background-color .5s ease;
  }

  .header__right-illustration {
    max-width: 600px;
  }

  .header__bottom {
    display: flex;
    flex-direction: row;
    gap: 95px;
  }

  .header__bottom-items {
    max-width: 125px;
    filter: grayscale(1);
  }

  .title {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    padding: 70px 0;
    width: 100%;
  }

  .title > :nth-child(1) {
    background-color: var(--green);
    border-radius: 7px;
    font-size: 40px;
    font-weight: bold;
    line-height: 51px;
    color: var(--dark);
  }

  .title > :nth-child(2) {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--dark);
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .services__wrap {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .services__column  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid var(--dark);
    box-shadow: 0 5px 0 0 var(--dark);
    width: 600px;
    height: 310px;
  }

  .card__left {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }
  
  .card__left-top--upperTittle {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    background-color: var(--green);
    color: var(--dark);
    padding: 7px;
    border-radius: 7px;
  }

  .card__left-top--lowerTittle {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    background-color: var(--green);
    color: var(--dark);
    padding: 7px;
    border-radius: 7px;
  }

  .card__left-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    color: var(--dark);
    position: relative;
    width: 220px;
  }

  .card__left-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    background: url(../img/cards/arrow-green.png) no-repeat left;
    background-size: contain;
    width: 41px;
    height: 41px;
  }

  .card__right  {
   max-width: 210px;
  }

  .dark {
    background-color: var(--dark);
  }

  .grey {
    background-color: var(--grey);
  }

  .card__left-bottom--greyArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
    width: 220px;
    font-size: 20px;
    line-height: 28px;
    color: var(--grey);
  }

  .card__left-bottom--greyArrow::before {
    content: "";
    position: absolute;
    left: 0;
    background: url(../img/cards/arrow-white.png) no-repeat left;
    background-size: contain;
    width: 41px;
    height: 41px;
  }

  .green {
    background-color: var(--green);
  }

  .proposal__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    gap: 190px;
    position: relative;
  }

  .proposal__illustration {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background: url(../img/proposal/proposal-illustration.png) no-repeat center;
    background-size: contain;
    width: 360px;
    height: 400px;
    display: block;
  }

  .proposal__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 26px;
    max-width: 500px;
    padding: 60px;
  }

  .proposal__left-title {
    font-size: 30px;
    line-height: 38px;
    color: var(--dark);
    font-weight: 500;
  }

  .proposal__left-subtitle {
    font-size: 18px;
    line-height: 23px;
    color: var(--dark);
    font-weight: 400;
  }

  .proposal__right {
    max-width: 360px;
  }

  .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .case__wrap  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    border: 1px solid var(--dark);
    border-radius: 45px;
    background-color: var(--dark);
    padding: 70px 60px;
    width: 100%;
  }

  .case__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    max-width: 290px;
  }

  .case__content-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--grey);
  }

  .case__title {
    align-self: flex-start;
  }

  .case__content-link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 150px;
  }

  .case__content-link::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/case/green-arrow.png) no-repeat right;
    background-size: contain;
    left: 110%;
  }

  .case__content::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px; 
    width: 1px; 
    height: 100%; 
    background-color: var(--grey); 
  }

  .case__content:last-child::after {
    content: none;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .accordion__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1250px;
    margin: 0 auto;
  }

  .accordion__title {
    align-self: flex-start;
  }

  .accordion__item {
    background-color: var(--grey);
    padding: 40px 60px;
    border: 1px solid var(--dark);
    border-radius: 45px;
    box-shadow: 0 5px 0 0 var(--dark);
    width: 100%;
    transition: background-color .5s ease;
    cursor: pointer;
  }

  .accordion__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 25px;
  }

  .accordion__item-header-number {
    font-size: 60px;
    line-height: 76px;
    font-weight: 500;
    color: var(--dark);
  }

  .accordion__item-header-title {
    flex: 1;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: var(--dark);
  }

  .accordion__item-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid var(--dark);
    background-color: var(--grey);
    border-radius: 50%;
    cursor: pointer;
  }

  .accordion__item-header-btn::before,
  .accordion__item-header-btn::after {
    content: "";
    position: absolute;
    background-color: var(--dark);
    transition: transform .2s ease-in-out;
  }

  .accordion__item-header-btn::before {
    width: 17px;
    height: 6px;
  }

  .accordion__item-header-btn::after {
    width: 6px;
    height: 17px;
  }

  .accordion__item-header-btn.active {
    transform: none;
  }

  .accordion__item-header-btn.active::after {
    transform: scaleY(0);
  }

  .accordion__item-info {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--dark);
    opacity: 0;
    max-height: 0;
    z-index: -1;
    transition: all .4s ease-in-out;
  }

  .accordion__item._active .accordion__item-info {
    opacity: 1;
    max-height: none;
    z-index: 1;
    padding: 30px 0;
  }

  .accordion__item._active  {
    background-color: var(--green);
  }

  .accordion__item._active .accordion__item-header-btn::after {
    content: none;
  }

  .accordion__item-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
  }

  .team__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
  
  .team__row  {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .team__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--dark);
    border-radius: 45px;
    padding: 40px 35px;
    box-shadow: 0 5px 0 0 var(--dark);
    max-width: 390px;
    height: 350px;
    transition: transform .3s ease-in-out;
  }

  .team__card:hover {
    transform: scale(1.1);
  }

  .team__card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 28px;
    width: 100%; 
    position: relative;
  }

  .team__card-content-picture {
    min-width: 105px;
    max-width: 105px;
  }

  .team__card-content-name {
    align-self: flex-end;
    max-width: 195px;
  }

  .team__card-content-name > :nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: var(--dark);
  }

  .team__card-content-name > :nth-child(2) {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--dark);
  }

  .team__card-content-linkedin {
    position: absolute;
    top: 0px;
    right: 0;
    background: url(../img/team/linkin-icon.png) no-repeat center;
    background-size: contain;
    width: 34px;
    height: 34px;
    display: block;
}

  .team__card-about {
    position: relative;
    padding: 28px 0;
  }

  .team__card-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: var(--dark);
  }

  .team__button {
    width: 270px;
    align-self: flex-end;
  }

  .testimonials__container {
    border: 1px solid var(--dark);
    border-radius: 45px;
    background-color: var(--dark);
    height: 625px;
    overflow-x: hidden;
  }

  .testimonials__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
  }

  .testimonials__slider-cards-bubble {
    content: "";
    background: url(../img/testimonial/bubble.png) center no-repeat;
    background-size: contain;
    width: 605px;
    padding-top: 85px;
  }

  .testimonials__slider-bubble-content {
    color: var(--grey);
    font-size: 18px;
    line-height: 23px;
    padding: 48px 52px 80px 52px;
  }

  .testimonials__slider-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .testimonials__slider-bubble-item {
    padding: 20px 0 0 80px;
  }

  .testimonials__slider-bubble-item > :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--green);
  }

  .testimonials__slider-bubble-item > :nth-child(2) {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--grey);
  }

  .testimonials__slider-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 565px;
  }

  .testimonials__slider-nav-arrowLeft {
    display: block;
    background: url(../img/testimonial/navigation/arrow.png) no-repeat center;
    background-size: contain;
    width: 20px;
  }

  .testimonials__slider-nav-stars {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .testimonials__slider-nav-stars-item {
    display: block;
    background: url(../img/testimonial/navigation/star.png) no-repeat center;
    background-size: contain;
    width: 14px;
    height: 14px;
  }

  .contact__wrap {
    background-color: var(--grey);
    border-radius: 45px;
    padding: 60px 100px;
    position: relative;
    overflow: hidden;
  }

  .contact__wrap::after {
    content: "";
    position: absolute;
    background: url(../img/contact/green-star.png) center no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    left: 73%;
    top: 52%;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    max-width: 560px;
  }

  .contact__form-radiobtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 275px;
    gap: 35px;
    font-size: 18px;
  }

  input[type="radio"] {
    display: none;
  }

  .radiobtn {
    width: 18px;
    height: 18px;
    border: 1px solid var(--dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: border-color 0.3s;
  }

  .radiobtn::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--green); 
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .radiobtn__label {
    display: flex;
    gap: 14px ;
  }

  input[type="radio"]:checked + .radiobtn::after {
    transform: scale(1);
  }
  
  .contact__form-field {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }

  .contact__form-field input {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--dark);
    border-radius: 14px;
  }

  .contact__form-field input:last-child {
    height: 190px; 
    resize: none;
  }

  .contact__form-field label {
    font-size: 16px;
    line-height: 28px;
  }
  
  .contact__form-button {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .contact__form-field::after {
    content: "";
    position: absolute;
    background: url(../img/contact/sun-illustration.png) center no-repeat;
    background-size: contain;
    width: 650px;
    height: 650px;
    left: 75%;
    
  }

  .contact__form-field::before {
    content: "";
    position: absolute;
    background: url(../img/contact/dark-star.png) center no-repeat;
    background-size: contain;
    width: 180px;
    height: 180px;
    left: 75%;
    top: 30%;
    z-index: 1;
  }
  
  .footer {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
    margin: 0 auto;
    max-width: 1250px;
  }
  
  .footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
  }

  .footer__nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 18px;
    line-height: 23px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--grey);
  }

  .footer__nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .footer__nav-logo {
    max-width: 180px;
  }

  .footer__nav-icons-item {
    max-width: 30px;
  }

  .footer__contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 335px;
  }

  .footer__contact-left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    line-height: 23px;
    color: var(--grey);
  }

  .footer__contact-left-title > :nth-child(1) {
    font-size: 20px; 
    color: var(--dark);
    border-radius: 7px;
    font-weight: 400;
    background-color: var(--green);
    max-width: 125px;
  }

  .footer__subscription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #292A32;
    border-radius: 14px;
    max-width: 635px;
    padding: 58px 40px;
  }

  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 155px;
    padding-top: 65px ;
  }

  .footer__subscription-email {
    border-radius: 14px;
    padding: 22px 35px;
    background-color: #292A32;
    border: 1px solid var(--grey);
    width: 285px;
  }

  .footer__subscription-email::placeholder {
    font-size: 18px;
    color: var(--grey);
    line-height: 23px;
  }

  .footer__subscription-button {
    background-color: var(--green);
    color: var(--dark);
    font-size: 20px;
    line-height: 28px;
    padding: 20px 35px;
    width: 250px;
    border: 1px solid var(--green);
    border-radius: 14px;
  }